{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-indent-props": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/sort-comp": 0,
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 0,
    "react/no-string-refs": 0,
    "react/jsx-space-before-closing": 0,
    "react/no-find-dom-node": 0,
    "jsx-a11y/label-has-for": 0,
    "comma-dangle": 0,
    "id-length": 0,
    "new-cap": 0,
    "eol-last": 0,
    "jsx-quotes": 0,
    "arrow-body-style": 0,
    "import/first": 0,
    "class-methods-use-this": 0,
    "no-plusplus": 0,
    "max-len": 0,
    "indent": 0,
    "quote-props": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "object-shorthand": 0,
    "prefer-rest-params": 0,
    "no-mixed-operators": 0,
    "object-curly-spacing": 0,
    "consistent-return": 0
  },
  "plugins": [
    "react"
  ]
}
