{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "react-hooks"],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"settings": {
		"react": {
			"version": "16.8"
		}
	},
	"env": {
		"browser": true,
		"jest": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-parameter-properties": 0,
		"@typescript-eslint/explicit-member-accessibility": 0,
		"@typescript-eslint/no-object-literal-type-assertion": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/array-type": 0,
		"@typescript-eslint/no-use-before-define": 0,
		"react/prop-types": 0,
		"react/display-name": 0
	}
}
