extends:
  - eslint-config-airbnb
  - eslint-config-prettier

parser: babel-eslint
parserOptions:
  ecmaFeatures:
      experimentalDecorators: true
env:
  browser: true
  node: true

rules:
  # Disabled due to conflicts with monorepo structure
  # See: https://github.com/benmosher/eslint-plugin-import/issues/458
  import/no-extraneous-dependencies: off
  import/no-unresolved: off
  import/extensions: off

  # These rules are covered by prettier
  react/jsx-indent: off
  react/jsx-indent-props: off

  # These rules are super annoying in this project
  react/jsx-filename-extension: off
  class-methods-use-this: off
  no-confusing-arrow: off
