*.js text eol=lf
*.jsx text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.md text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.eslintignore text eol=lf
yarn.lock text eol=lf
