node_modules/
packages/*/dist
packages/*/lib

# Docsite Artifacts
packages/docsite/public
packages/docsite/.cache
packages/docsite/static/examples_hooks_js
packages/docsite/static/examples_hooks_ts
packages/docsite/static/examples_decorators_js
packages/docsite/static/examples_decorators_ts

__site__
__site_prerender__

# Test Artifacts
coverage/
test-results.xml
.jest-cache

# Misc
*-*.log
.idea
.DS_Store
.rollup.cache/

# Yarn v2
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache
