node_modules/
packages/*/dist
packages/*/lib
__site__
__site_prerender__

# Test Artifacts
coverage/
test-results.xml
.jest-cache

# Misc
*-*.log
.idea
.DS_Store

# Yarn v2
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache
