{
    "rules": {
        "comma-dangle": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "max-len": "off",
        "no-param-reassign": "off",
        "react/forbid-prop-types": "off",
        "react/no-array-index-key": "off",
        "react/no-find-dom-node": "off",
        "react/no-unescaped-entities": "off",
        "react/no-unused-prop-types": "off",
        "react/prefer-stateless-function": "off",
        "react/require-default-props": "off"
    },
    "env": {
        "jest": true
    }
}