name: Version Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
env:
  DEFAULT_NODE_VERSION: 20
jobs:
  version-check:
    runs-on: ubuntu-latest
    if: "!contains(github.ref , 'release/') && !contains(github.head_ref , 'release/')"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{env.DEFAULT_NODE_VERSION}}
      - run: yarn version check